/* Coolors Exported Palette - coolors.co/006ba6-0496ff-ffbc42-d81159-8f2d56 */
/* HSL */
/* RGB */
.color2 {
  color: #006ba6;
}

[class*="btn"]:not(.btn-small).btn-style-5 {
  background: #0496ff;
  color: #fff;
  border-color: #0496ff;
}

[class*="btn"]:not(.btn-small).btn-style-5:hover {
  background: #006ba6;
  border-color: #006ba6;
}

.icons-box.style-2 .icons-wrap:after {
  background: #0496ff;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#006ba6), to(#0496ff));
  background: linear-gradient(to bottom, #006ba6 0%, #0496ff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.event-date .numb, .event-date .month {
  color: #006ba6;
}

.testimonial-holder.style-2 .testimonial blockquote:before {
  color: #006ba6;
}

.call-out.newsletter {
  background: #0496ff;
}

.call-out.newsletter .newsletter .btn {
  background: #0496ff;
  border-color: #006ba6;
}

.call-out.newsletter .newsletter .btn:hover {
  background: #006ba6;
  border-color: #006ba6;
}
