@import '../HTML/demo-files/demo';
@import '../HTML/plugins/fancybox/jquery.fancybox';
@import '../HTML/css/bootstrap-grid.min';
@import '../HTML/css/owl.carousel';
@import '../HTML/css/style';
@import '../HTML/css/responsive';

/* Coolors Exported Palette - coolors.co/006ba6-0496ff-ffbc42-d81159-8f2d56 */

/* HSL */
$color1: hsla(201%, 100%, 33%, 1);
$color2: hsla(205%, 100%, 51%, 1);
$color3: hsla(39%, 100%, 63%, 1);
$color4: hsla(338%, 85%, 46%, 1);
$color5: hsla(335%, 52%, 37%, 1);

/* RGB */
$color1: rgba(0, 107, 166, 1);
$color2: rgba(4, 150, 255, 1);
$color3: rgba(255, 188, 66, 1);
$color4: rgba(216, 17, 89, 1);
$color5: rgba(143, 45, 86, 1);
